/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
  font-family: sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: var(--size-7);
}

p,
button {
  margin: 0 auto;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.green {
  color: green;
}

.inline-block {
  display: inline-block;
}

ul.groups-list {
  --icon-size: .8em;
  --gutter: -10em;
  padding: 0 0 0 var(--icon-size);
}

ul.groups-list li {
  padding-left: var(--gutter);
  text-align: left;
}

ul.groups-list li.group-collapsed::marker{
  content: "\F3D7";
  font-family: "bootstrap-icons";
  position: relative;
  font-size: var(--icon-size)
}

ul.groups-list li.group-expanded::marker{
  content: "\F3D8";
  font-family: "bootstrap-icons";
  position: relative;
  font-size: var(--icon-size)
}

ul.groups-list li.dataset::marker {
  content: "\F35A";
  font-family: bootstrap-icons;
  position: relative;
  font-size: var(--icon-size);
}